* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body , html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: black;
    background-image: url(https://images4.alphacoders.com/613/61324.jpg) ;
    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}

div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

a:active {
    color: blue;
    background-color: white;
}


