main {
    max-width: 800px;
    margin: auto;
    color: white;
    
}

main > section {
  color: white;
    margin-top: 50px;
    margin-inline: 15px;  
    text-align: justify;

    h2 , p{
        padding-block: 10px;
        font-family: 'font-tech';
    }
}



